*{
    margin:0;
padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #63f3c7;
}
h1{
    text-align: center;
    font-size: 50px;
    color: green;
    margin: 30px;
}
.image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10vh;

}
.image .image-item{
    position: relative;
    height: 300px;
    width: 300px;
    margin: 10px;
}
.image .image-item img{
    height: 100%;
    width: 100%;
}
