*{
    margin:0;
padding: 0;
font-family: 'fantasy'
}

body{
    background-color: rgb(28, 27, 27);
}

a {
	text-decoration: none;
    color: white;
}

/*header*/
header {
  position: relative;
	background: #070720;
	height: 10vh;
}

/*logo*/
.logo h1{
  position: relative;
    font-size: 5vh;
    color: white;
margin-left: 20vh;
font-family: cursive;
padding-top: 10px;
}

.logo h1 strong{
    color: red;
    font-size: 5vh;
font-family: cursive;
}

/*menu dropdown*/
.menu{
  position: relative;
	text-align: center;
	margin-top: -50px;
}

.menu ul li {
	list-style: none;
	display: inline-block;
	position: relative;
	margin-right: 10px;
}

.menu ul li:hover .dropdown {
	top: 43px;
	opacity: 1;
	left: 20px;
	visibility: visible;
}

.menu ul .side:hover {
  color: #00adb5;
}

.menu ul .side::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #00adb5;
  bottom: 20px;
  left: 20px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.menu ul .side:hover::before {
  transform: scaleX(1);
}

.menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 82px;
	width: 150px;
	background: #ffffff;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
}

.menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.menu ul li .dropdown li a {
	font-size: 14px;
	color: #111111;
	font-weight: 500;
	padding: 5px 20px;
	text-decoration: none;
}

.menu ul li a {
	font-size: 19px;
	color:white;
	display: block;
	font-weight: 700;
	padding: 20px;
	text-decoration: none;
}

.row a:hover{
color: #b50000;
transform: scale(1.5,1.5);
text-align: center;
}

/*right icon*/
.header__right {
	text-align: right;
	margin-right:25vh;
	margin-top: -40px;
}

.header__right i {
	display: inline-block;
	font-size: 18px;
	color: #ffffff;
	padding-right: 50px;
}

/*search bar*/
.header__right .search-container {
    position: absolute;
   margin-left: 173vh;
   margin-top: -30px;
}

.header__right #search-input {
    width: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: width 0.4s ease;
    opacity: 0;
}

.header__right #search-icon {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

.header__right .search-active #search-input {
    width: 120px;
    opacity: 1;
}

/* css for first slider*/
.slideshow-container {
    max-width: 95%;
    max-height: 90%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/*categories*/
.categories{
    position:absolute;
    margin: auto;
}

.head-categories{
    color: white;
    padding-top: 5vh;
   padding-left: 20vh;
    font-size: 20px;
}

.show-categorie{
    max-width: 90%;
    min-height: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-show{
    position: relative;
    height: 250px;
    width: 200px;
   background-color: white;
    margin: 10px;
    box-sizing: border-box;
    display: inline;
}

.box-show .image{
    position: relative;
    overflow: hidden;
}

.image img{
  position: relative;
  width: 200px;
  height: 250px;
}

.box-show .box-text{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background:rgba(14, 13, 13, 0.5);
    transform: scaleY(0);
    transition: tranform 5s;
}

.box-show:hover .box-text{
    transform: scaleY(1);
}

.box-show .box-text .box-content{
    position: relative;
    top: 5%;
    text-align: center;
    padding: 15px;
    color: white;
}

.box-show .box-content h1{
    margin-top: 5px;
    padding: 3px;
    font-size: 20px;
}

.box-show .box-content p{
   margin-top: 10px;
    font-size: 15px;
}

.box-content  p .k{
  position: relative;
  border: black;
  background: rgba(244, 4, 4, 0.5);
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  margin-top: 20px;
  border-radius: 20px;
}

/*gallary*/
.gallary{
    position:absolute;
    margin: auto;
}
.head{
    color: white;
    padding-top: 5vh;
    text-align: center;
    font-size: 40px;
}

/* css for second slider*/
.slider-wrap{/* slider class*/
  position: relative; 
  overflow: hidden;
  height: 300px;
  margin-left: 30px;
  margin-top: 50px;
  
}
.slider-main{/* slider main div class inside slider*/
  position: absolute;
}
.item{/* item class inside slider class */
  width: 310px;
  background: transparent;
height: 280px;
display: inline-block;
position: relative;
border: none;
margin: 4px 0 0 40px ;
}
.text{/* text div class inside slider2 class*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  color: wheat;
font-weight: bolder;
}
.text img{/* image inside text class*/
  width: 300px;
  height: 250px;
}
/* button present inside slider2 class*/
.btn-area{
  position: absolute;
  
}
.slider-btn1{/*first button*/
  border: none;
  outline: none;
  font-size: 100px;
color: rgb(255, 255, 255);
background: transparent;
transition: 0.4s;
margin-top:85px;
margin-left: 6px;
position: relative;

}
.slider-btn2{/* second button*/
  border: none;
  outline: none;
  font-size: 100px;
color: rgb(255, 255, 255);
transition: 0.4s;
background: transparent;
margin-top: 85px;
margin-left:189vh;
position: relative;
}


/*contact*/
.contact-back{
    position: relative;
    width: 100%;
    height: 100%;
margin-top: 40px;
}

.contact{
    box-sizing: border-box;
    background: url('image/foot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 80%;
margin-left: 20vh;
}

.contact form{
    width: 40%;
  margin-left: 45vh;
}

.contact form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-weight: 200;
    margin-top: 30px;
    font-size: 40px;
  }
  
 .contact label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
  }
  
 .contact input[type="text"], input[type="file"], select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(7, 7, 7);
  }
  .contact input::placeholder, textarea::placeholder{
color: rgb(7, 7, 7);
  }
  .contact input[type="file"] {
    padding: 3px;
    border: 1px solid #ddd;
  }
  
  .contact textarea {
    resize: vertical;
  }
  
 .contact button {
    width: 50%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    margin-left: 30%;
  }
  
 .contact button:hover {
    background-color: #218838;
  }

  
  /*footer*/
footer{
    position: relative;
    max-width: 100%;
margin-top: 40px;
    background: #00adb5;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .footer-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .footer-menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .footer-menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .footer-menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 300;
  }
  
 
  