*{
    margin:0;
padding: 0;
font-family: 'fantasy'
}
body{
    background-color: rgb(28, 27, 27);
}
a {
	text-decoration: none;
    color: white;
    font-size: 20px;
}
/*categories*/
.categories{
    position:absolute;
    margin: auto;
}
.head{
    color: white;
    padding-top: 5vh;
   padding-left: 40%;
    font-size: 50px;
}
.head-categories{
    color: white;
    padding-top: 3vh;
   padding-left: 45%;
    font-size: 30px;
}
.show-categorie{
    max-width: 90%;
    min-height: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-show{
    position: relative;
    height: 300px;
    width: 300px;
   background-color: white;
    margin:60px;
    box-sizing: border-box;
    display: inline;
}
.box-show .image{
    position: relative;
    overflow: hidden;
}

.image img{
  position: relative;
  width: 300px;
  height: 300px;
}
.box-show .box-text{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background:rgba(14, 13, 13, 0.5);
    transform: scaleY(0);
    transition: tranform 5s;
}
.box-show:hover .box-text{
    transform: scaleY(1);
}
.box-show .box-text .box-content{
    position: relative;
    top: 5%;
    text-align: center;
    padding: 15px;
    color: white;
}
.box-show .box-content h1{
    margin-top: 5px;
    padding: 3px;
    font-size: 30px;
}
.box-show .box-content p{
   margin-top: 10px;
    font-size: 20px;
}
.box-content  p .k{
  height: 40px;
  width: 150px;
  background-color: rgba(250, 62, 62, 0.5);
margin: 10px;
border-radius: 20px;
padding: 10px;
font-size: 10px;
}