*{
    margin: 0;
    padding: 0;
   
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: blue;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container
{
    width: 400px;
    height: 500px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

h2
{
    color: #0f0f0f;
    font-size: 3em;
    padding: 20px 0;
}

 input
{
    position: relative;
    width: 400px;
    margin:10px 0;
    height: 40px;
    padding: 0 20px 0 10px;
    font-size: 1.2em;
    border: 2px solid black;
    border-radius: 5px;
    color: #070707;
}

p
{
    text-align: center;
    color: black;
    margin: 10px 0;
    font-size: 18px;
}
#or{
    text-align: center;
    overflow: hidden;
    color: black;
    font-weight: 900;
}
#or::after,#or::before{
    text-align: center;
    background-color: black;
    width: 50%;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    position: relative;
}
    #or::before{
       
        margin-left: -50%;
    }
    #or::after{
       
        margin-right: -50%;
    }
    a{
        text-decoration: none;
    }
a:hover
{
  color: rgb(97, 2, 2);
    font-style: italic;
    text-decoration: double;
}
#btn
{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    background-color: blue;
}

#btn:hover
{
    background-color: rgb(238, 162, 162);
    color: #ff000094;
}
.fb{
    
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    background-color: rgb(33, 33, 144);
   text-align: center;
}
#fb{
    color: white;
    text-decoration: none;
}
.goo{
    
    height: 30px;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
   text-align: center;
   border: 2px solid black;
}
#goo{
    color: black;
    text-decoration: none;
}
#for{
    text-decoration: none;
   margin-left: 120px;
    font-size: 18px;
}
@media(max-width:500px){
    body{
        background-color: #fb01d5;
    }
    .container{
        width: 300px;
        height: 400px;
    }
    input{
        width: 280px;
        padding: 0 10px 0 5px;
    }   
    p
{
    
    font-size: 15px;
}
h2
{
    font-size: 2em;
    
}
a{
    color: #fb01d5;
}
.goo{
    width: 85%;
    margin-left: 20px;
    height: 25px;
    font-size: 1.2em;  
}
.fb,#btn{
    width: 85%;
    margin-left: 20px;
    height: 25px;
    font-size: 1.2em;
   background-color: #fb01d5;
    
}
#for{
   
   margin-left: 80px;
    font-size: 15px;
}  
}